
@{
    ViewBag.Title = "Chính sách bảo mật";
    ViewBag.Id = "contact";
    ViewBag.Class = "blog";
}


<div id="wrapper-site">
    <div id="content-wrapper">

        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="@Url.Action("Index","ProductDetailPage","Index")">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Chính sách bảo mật</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div id="main">
            <div class="page-home">
                <div class="container">
                    <h1 class="text-center title-page">CHÍNH SÁCH BẢO MẬT THÔNG TIN</h1>
                    <div class="row-inhert">
                        <p><strong>www.happyhome.com.vn cam kết sẽ bảo mật những thông tin mang tính riêng tư của khách hàng. Quý khách vui lòng đọc bản “Chính sách bảo mật” dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập:</strong></p>

                        <p><strong>1. Thu thập thông tin cá nhân:</strong></p>

                        <p style="margin-left:22.5pt;">- Các thông tin thu thập thông qua website happyhome.com.vn sẽ giúp chúng tôi:</p>

                        <p style="margin-left:45pt;">
                            • Hỗ trợ khách hàng khi mua sản phẩm&nbsp;<br>
                            • Giải đáp thắc mắc khách hàng<br>
                            • Cung cấp cho bạn thông tin mới nhất trên Website của chúng tôi<br>
                            • Xem xét và nâng cấp nội dung và giao diện của Website<br>
                            • Thực hiện các bản khảo sát khách hàng<br>
                            • Thực hiện các hoạt động quảng bá liên quan đến các sản phẩm và dịch vụ của HappyHome.
                        </p>

                        <p style="margin-left:22.5pt;">- Để truy cập và sử dụng một số dịch vụ tại www.HappyHome.com.vn, quý khách có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc…). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. www.HappyHome.com.vn không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo.</p>

                        <p style="margin-left:22.5pt;">- Chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm, bao gồm số trang quý khách xem, số links (liên kết) bạn click và những thông tin khác liên quan đến việc kết nối đến www.HappyHome.com.vn. Chúng tôi cũng thu thập các thông tin mà trình duyệt Web (Browser) quý khách sử dụng mỗi khi truy cập vào website www.HappyHome.com.vn, bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.</p>

                        <p><strong>2. Sử dụng thông tin cá nhân:</strong></p>

                        <p style="margin-left:22.5pt;">- www.HappyHome.com.vn thu thập và sử dụng thông tin cá nhân quý khách với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này.</p>

                        <p style="margin-left:22.5pt;">- Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với bạn dưới các hình thức như: gởi thư ngỏ, đơn đặt hàng, thư cảm ơn, thông tin về kỹ thuật và bảo mật, quý khách có thể nhận được thư định kỳ cung cấp thông tin sản phẩm, dịch vụ mới, thông tin về các sự kiện sắp tới hoặc thông tin tuyển dụng nếu quý khách đăng kí nhận email thông báo.</p>

                        <p><strong>3. Chia sẻ thông tin cá nhân:</strong></p>

                        <p style="margin-left:22.5pt;">- Ngoại trừ các trường hợp về Sử dụng thông tin cá nhân như đã nêu trong chính sách này, chúng tôi cam kết sẽ không tiết lộ thông tin cá nhân bạn ra ngoài.</p>

                        <p style="margin-left:22.5pt;">- Trong một số trường hợp, chúng tôi có thể thuê một đơn vị độc lập để tiến hành các dự án nghiên cứu thị trường và khi đó thông tin của bạn sẽ được cung cấp cho đơn vị này để tiến hành dự án. Bên thứ ba này sẽ bị ràng buộc bởi một thỏa thuận về bảo mật mà theo đó họ chỉ được phép sử dụng những thông tin được cung cấp cho mục đích hoàn thành dự án.</p>

                        <p style="margin-left:22.5pt;">- Chúng tôi có thể tiết lộ hoặc cung cấp thông tin cá nhân của bạn trong các trường hợp thật sự cần thiết như sau: (a) khi có yêu cầu của các cơ quan pháp luật; (b) trong trường hợp mà chúng tôi tin rằng điều đó sẽ giúp chúng tôi bảo vệ quyền lợi chính đáng của mình trước pháp luật; (c) tình huống khẩn cấp và cần thiết để bảo vệ quyền an toàn cá nhân của các thành viên www.HappyHome.com.vn khác.</p>

                        <p><strong>4. Truy xuất thông tin cá nhân:&nbsp;</strong></p>

                        <p style="margin-left:22.5pt;">- Bất cứ thời điểm nào quý khách cũng có thể truy cập và chỉnh sửa những thông tin cá nhân của mình theo các liên kết (website's links) thích hợp mà chúng tôi cung cấp.</p>

                        <p><strong>5. Bảo mật thông tin cá nhân:</strong></p>

                        <p style="margin-left:22.5pt;">- Khi bạn gửi thông tin cá nhân của bạn cho chúng tôi, bạn đã đồng ý với các điều khoản mà chúng tôi đã nêu ở trên, www.HappyHome.com.vn cam kết bảo mật thông tin cá nhân của quý khách bằng mọi cách thức có thể. Chúng tôi sẽ sử dụng nhiều công nghệ bảo mật thông tin khác nhau như: chuẩn quốc tế PCI, SSL,… nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn.</p>

                        <p style="margin-left:22.5pt;">- Tuy nhiên do hạn chế về mặt kỹ thuật, không một dữ liệu nào có thể được truyền trên đường truyền internet mà có thể được bảo mật 100%. Do vậy, chúng tôi không thể đưa ra một cam kết chắc chắn rằng thông tin quý khách cung cấp cho chúng tôi sẽ được bảo mật một cách tuyệt đối an toàn, và chúng tôi không thể chịu trách nhiệm trong trường hợp có sự truy cập trái phép thông tin cá nhân của quý khách như các trường hợp quý khách tự ý chia sẻ thông tin với người khác…. Nếu quý khách không đồng ý với các điều khoản như đã mô tả ở trên, Chúng tôi khuyên quý khách không nên gửi thông tin đến cho chúng tôi.</p>

                        <p style="margin-left:22.5pt;">- Vì vậy, www.HappyHome.com.vn cũng khuyến cáo quý khách nên bảo mật các thông tin liên quan đến mật khẩu truy xuất của quý khách và không nên chia sẻ với bất kỳ người nào khác.</p>

                        <p style="margin-left:22.5pt;">- Nếu sử dụng máy tính chung nhiều người, quý khách nên đăng xuất, hoặc thoát hết tất cả cửa sổ Website đang mở.</p>

                        <p><strong>6. Sử dụng “Cookie”</strong></p>

                        <p style="margin-left:22.5pt;">- www.HappyHome.com.vn dùng "Cookie" để giúp cá nhân hóa và nâng cao tối đa hiệu quả sử dụng thời gian trực tuyến của quý khách.</p>

                        <p style="margin-left:22.5pt;">- Một cookie là một file văn bản được đặt trên đĩa cứng của bạn bởi một máy chủ của trang web. Cookie không được dùng để chạy chương trình hay đưa virus vào máy tính của quý khách. Cookie được chỉ định vào máy tính của quý khách và chỉ có thể được đọc bởi một máy chủ trang web trên miền được đưa ra cookie cho quý khách.</p>

                        <p style="margin-left:22.5pt;">- Một trong những mục đích của Cookie là cung cấp những tiện ích để tiết kiệm thời gian của quý khách khi truy cập tại website www.HappyHome.com.vn hoặc viếng thăm website www.HappyHome.com.vn lần nữa mà không cần đăng ký lại thông tin sẵn có.</p>

                        <p style="margin-left:22.5pt;">- Quý khách có thể chấp nhận hoặc từ chối dùng cookie. Hầu hết những Browser tự động chấp nhận cookie, nhưng quý khách có thể thay đổi những cài đặt để từ chối tất cả những cookie nếu quý khách thích. Tuy nhiên, nếu quý khách chọn từ chối cookie, điều đó có thể gây cản trở và ảnh hưởng không tốt đến một số dịch vụ và tính năng phụ thuộc vào cookie tại website www.HappyHome.com.vn</p>

                        <p><strong>7. Quy định về “Spam”:</strong></p>

                        <p style="margin-left:22.5pt;">- www.HappyHome.com.vn thực sự quan ngại đến vấn nạn Spam (thư rác), các Email giả mạo danh tín chúng tôi gởi đi. Do đó, www.HappyHome.com.vn khẳng định chỉ gởi Email đến quý khách khi và chỉ khi quý khách có đăng ký hoặc sử dụng dịch vụ từ hệ thống của chúng tôi.</p>

                        <p style="margin-left:22.5pt;">- www.HappyHome.com.vn cam kết không bán, thuê lại hoặc cho thuê email của quý khách từ bên thứ ba. Nếu quý khách vô tình nhận được Email không theo yêu cầu từ hệ thống chúng tôi do một nguyên nhân ngoài ý muốn, xin vui lòng nhấn vào link từ chối nhận Email này kèm theo, hoặc thông báo trực tiếp đến ban quản trị Website.</p>

                        <p><strong>8. Thay đổi về chính sách:</strong></p>

                        <p style="margin-left:22.5pt;">- Chúng tôi hoàn toàn có thể thay đổi nội dung trong trang này mà không cần phải thông báo trước, để phù hợp với các nhu cầu của www.HappyHome.com.vn cũng như nhu cầu và sự phản hồi từ khách hàng nếu có. Khi cập nhật nội dung chính sách này, chúng tôi sẽ chỉnh sửa lại thời gian “Cập nhật lần cuối” bên dưới.</p>

                        <p style="margin-left:22.5pt;">- Nội dung “Chính sách bảo mật” này chỉ áp dụng tại www.HappyHome.com.vn, không bao gồm hoặc liên quan đến các bên thứ ba đặt quảng cáo hay có links tại www.HappyHome.com.vn. Chúng tôi khuyến khích bạn đọc kỹ chính sách An toàn và Bảo mật của các trang web của bên thứ ba trước khi cung cấp thông tin cá nhân cho các trang web đó. Chúng tôi không chịu trách nhiệm dưới bất kỳ hình thức nào về nội dung và tính pháp lý của trang web thuộc bên thứ ba.</p>

                        <p style="margin-left:22.5pt;">- Vì vậy, bạn đã đồng ý rằng, khi bạn sử dụng website của chúng tôi sau khi chỉnh sửa nghĩa là bạn đã thừa nhận, đồng ý tuân thủ cũng như tin tưởng vào sự chỉnh sửa này. Do đó, chúng tôi đề nghị bạn nên xem trước nội dung trang này trước khi truy cập các nội dung khác trên website cũng như bạn nên đọc và t ham khảo kỹ nội dung “Chính sách bảo mật” của từng website mà bạn đang truy cập.</p>

                        <p><strong>9. Thông tin liên hệ:</strong></p>

                        <p style="margin-left:22.5pt;">- Chúng tôi luôn hoan nghênh các ý kiến đóng góp, liên hệ và phản hồi thông tin từ bạn về “Chính sách bảo mật” này. Nếu bạn có những thắc mắc liên quan xin vui lòng liên hệ theo địa chỉ Email:&nbsp;<a href="#">HappyHome@gmail.com.vn</a></p>

                        <p>
                            <strong>Công ty TNHH Thương mại Dịch vụ HappyHome</strong><br>
                            <strong>Website: www.HappyHome.com.vn</strong>&nbsp;<br>
                            Lần cập nhật: thứ nhất<br>
                            Thời gian cập nhật: giờ: 10h00 ngày 12 tháng 11 năm 2022
                        </p>

                        <p>&nbsp;</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


