
@{
    ViewBag.Title = "Chi tiết bài viết";
    ViewBag.Id = "blog-detail";
    ViewBag.Class = "blog";
}

<div id="wrapper-site">
    <div id="content-wrapper">
        <div id="main">
            <div class="page-home">

                <!-- breadcrumb -->
                <nav class="breadcrumb-bg">
                    <div class="container no-index">
                        <div class="breadcrumb">
                            <ol>
                                <li>
                                    <a href="@Url.Action("Index","Index","Index")">
                                        <span>Trang chủ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","BlogListSidebarLeftPage","Index")">
                                        <span>Danh mục bài viết</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Chi tiết bài viết</span>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </nav>
                <div class="container">
                    <div class="content">
                        <div class="row">
                            <div class="sidebar-3 sidebar-collection col-lg-3 col-md-3 col-sm-4">

                                <!-- category -->
                                <div class="sidebar-block">
                                    <div class="title-block">Thể loại</div>
                                    <div class="block-content">
                                        <div class="cateTitle hasSubCategory open level1">
                                            <span class="arrow collapse-icons collapsed" data-toggle="collapse" data-target="#livingroom" aria-expanded="false" role="status">
                                                <i class="zmdi zmdi-minus"></i>
                                                <i class="zmdi zmdi-plus"></i>
                                            </span>
                                            <a class="cateItem" href="#">PHÒNG KHÁCH</a>
                                            <div class="subCategory collapse" id="livingroom" aria-expanded="true" role="status">

                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Ghế sofa</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Bàn trà</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Đèn trần</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Kệ tivi</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Ghế bành</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Thảm sàn</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cateTitle hasSubCategory open level1">
                                            <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#bathroom" aria-expanded="false" role="status">
                                                <i class="zmdi zmdi-minus"></i>
                                                <i class="zmdi zmdi-plus"></i>
                                            </span>
                                            <a class="cateItem" href="#">PHÒNG TẮM</a>
                                            <div class="subCategory collapse" id="bathroom" aria-expanded="false" role="status">
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Chậu rửa mặt</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Gương nhà tắm</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Vòi sen</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Bồn tắm</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Kệ inox</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cateTitle hasSubCategory open level1">
                                            <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#diningroom" aria-expanded="false" role="status">
                                                <i class="zmdi zmdi-minus"></i>
                                                <i class="zmdi zmdi-plus"></i>
                                            </span>
                                            <a class="cateItem" href="#">PHÒNG ĂN</a>
                                            <div class="subCategory collapse" id="diningroom" aria-expanded="true" role="status">
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Bộ bàn ghế ăn</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Ghế ăn</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Tủ trang trí</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cateTitle hasSubCategory open level1">
                                            <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#bedroom" aria-expanded="false" role="status">
                                                <i class="zmdi zmdi-minus"></i>
                                                <i class="zmdi zmdi-plus"></i>
                                            </span>
                                            <a class="cateItem" href="#">PHÒNG NGỦ</a>
                                            <div class="subCategory collapse" id="bedroom" aria-expanded="true" role="status">
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Giường ngủ </a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Tủ quần áo</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Bàn trang điểm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cateTitle hasSubCategory open level1">
                                            <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#kitchen" aria-expanded="false" role="status">
                                                <i class="zmdi zmdi-minus"></i>
                                                <i class="zmdi zmdi-plus"></i>
                                            </span>
                                            <a class="cateItem" href="#">PHÒNG BẾP</a>
                                            <div class="subCategory collapse" id="kitchen" aria-expanded="true" role="status">
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Bếp</a>
                                                </div>
                                                <div class="cateTitle">
                                                    <a href="#" class="cateItem">Kệ /Tủ bếp</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- recent posts -->
                                <div class="sidebar-block">
                                    <div class="title-block">Bài đăng gần đây</div>
                                    <div class="post-item-content">
                                        <div>
                                            <div class="late-item first-child">
                                                <a href="blog-detail.html">
                                                    <p class="Rcontent-title">Mẹo phối giữa màu sơn tường và đồ nội thất cho không gian sống thêm hoàn hảo</p>
                                                </a>
                                                <span>
                                                    <i class="zmdi zmdi-comments"></i>10 Bình luận
                                                </span>
                                                <span>
                                                    <i class="zmdi zmdi-calendar-note"></i>07/11/2022
                                                </span>
                                                <p class="description">
                                                    Phối màu nội thất sao cho đẹp, sang trọng, hiện đại là cả nghệ thuật của nhà thiết kế nội thất. Nội thất có đẹp cũng phải phối màu ăn ý với nhau mới có thể tạo ra một không gian đẹp...
                                                </p>
                                                <p class="remove">
                                                    <a href="blog-detail.html">XEM THÊM</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="late-item">
                                                <a href="blog-detail.html">
                                                    <p class="content-title">300+ Mẫu tủ bếp gỗ tự nhiên bền, đẹp, hiện đại giá tốt nhất 2022</p>
                                                </a>
                                                <span>
                                                    <i class="zmdi zmdi-comments"></i>20 Bình luận
                                                </span>
                                                <span>
                                                    <i class="zmdi zmdi-calendar-note"></i>05/11/2022
                                                </span>
                                                <p class="description">
                                                    Tủ bếp là thiết bị nội thất không thể thiếu trong mọi căn bếp của gia đình Việt. Đặc biệt, tủ bếp gỗ tự nhiên với giá trị thẩm mỹ cao và độ bền chắc lâu năm đang rất được lòng người sử dụng. Hãy cùng nội thất HAPPYHOME tham khảo...
                                                </p>
                                                <p class="remove">
                                                    <a href="blog-detail.html">XEM THÊM</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- product tag -->
                                <div class="sidebar-block product-tags">
                                    <div class="title-block">
                                        Thẻ Blog
                                    </div>
                                    <div class="block-content">
                                        <ul class="listSidebarBlog list-unstyled">
                                            <li>
                                                <a href="#" title="Show products matching tag Hot Trend">Hot</a>
                                            </li>

                                            <li>
                                                <a href="#" title="Show products matching tag Jewelry">Sofa</a>
                                            </li>

                                            <li>
                                                <a href="#" title="Show products matching tag New Arrivals">Bàn ghế</a>
                                            <li>
                                                <a href="#" title="Show products matching tag New Arrivals">Bàn trang điểm</a>
                                            </li>
                                            <li>
                                                <a href="#" title="Show products matching tag New Arrivals">Màu sắc</a>

                                        </ul>
                                    </div>
                                </div>

                                <!-- advertising -->
                                <div class="sidebar-block group-image-special">
                                    <div class="effect">
                                        <a href="#">
                                            <img class="img-fluid" src="~/Template/img/blog/advertising.jpg" alt="banner-2" title="banner-2">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 col-lg-9 col-md-9 flex-xs-first main-blogs">
                                <h3>Những lưu ý khi chọn màu cho nội thất</h3>
                                <div class="hover-after">
                                    <img src="~/Template/img/blog/10.jpg" alt="img" class="img-fluid">
                                </div>
                                <div class="late-item">
                                    <p>
                                        Nếu bạn đang có nhu cầu mua sắm nội thất, chắc hẳn bạn đã có những tìm hiểu nhất định về những gì bạn muốn mua.
                                        Dù sao thì, thứ bạn đang tìm kiếm cũng là một món nội thất hài hòa với phong cách thiết kế hiện tại của bạn,
                                        nhưng vẫn đảm bảo sự thời thượng, phong cách mà sẽ không bị lỗi thời chỉ sau một thời gian ngắn.
                                        Bài viết này sẽ đem đến cho bạn một vài điều mà có lẽ bạn sẽ muốn nghĩ tới khi lựa chọn sắc độ cho nội thất
                                        và có được sự tự tin khi đưa ra quyết định của mình.
                                    </p>

                                    <p class="content-title">Sử dụng các màu an toàn</p>
                                    <p>
                                        Màu sắc vô cùng đa dạng, muôn hình muôn vẻ, mỗi màu lại có thể phối hợp một cách hài hòa với một hay nhiều màu sắc khác. Tuy nhiên, có một vài sắc độ được xem là “màu an toàn”.
                                        </br> Những màu này có thể kết hợp với rất nhiều kiểu màu cũng như phong cách thiết kế khác nhau, không bị ảnh hưởng bởi các xu hướng mà cực kỳ bền vững với thời gian:
                                        </br>Màu đen: Không cần bàn cãi, một màu trung tính mang vẻ hiện đại, lịch lãm mà có thể phối với hầu hết các gam màu.
                                        </br>Màu trắng: Sáng sủa, thoáng đãng và trang nhã, màu trắng là lựa chọn hợp lý cho mọi phong cách thiết kế.
                                        </br>Màu nâu: Vốn được xem là màu của giới thượng lưu, màu nâu đem lại vẻ sang trọng, giàu sang và cổ điển, mang lại vẻ đẹp vượt thời gian mà không một ai có thể phủ nhận được.
                                        </br>Màu xám: Màu sắc đem lại cảm giác hiện đại nhiều nhất, với sự mạnh mẽ nhưng lịch lãm, thông thoáng nhưng rất ấm áp, đưa sự tiên tiến trong lối phối màu vào các thiết kế của bạn.
                                    </p>

                                    <p class="content-title">Lựa chọn màu sắc phù hợp với phong cách</p>
                                    <p>
                                        Màu sắc ảnh hưởng trực tiếp và sâu sắc đến phong cách mà bạn đang theo đuổi,
                                        vì mỗi phong cách sẽ mang trong mình những gam màu đặc trưng, tạo nên sự khác biệt với những phong cách khác.
                                        Chẳng hạn, nếu bạn là một người yêu thích sự hiện đại, thời thượng, bạn sẽ muốn tìm đến những gam màu lạnh như đen và trắng.
                                        Ngược lại, nếu bạn có một lối sống và phong cách cổ điển, màu nâu sẽ là lựa chọn hợp lý. Và nếu bạn có hứng thú với phong cách Bắc Âu,
                                        những gam màu trung tính và dịu mắt sẽ là những lựa chọn mà bạn không thể thiếu
                                        Vì vậy, trước khi quyết định phối màu cho căn phòng, bạn hãy suy nghĩ đến phong cách nội thất mà bạn đang muốn hướng tới.
                                        Nội thất cũng giống như âm nhạc vậy, nếu bạn lựa chọn một nhạc cụ phù hợp với bản nhạc, bạn sẽ tạo ra được một tác phẩm nghệ thuật đặc sắc
                                    </p>
                                    <div class="spacing-10 group-image-special">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 p-left">
                                                    <div class="effect">
                                                        <img class="img-fluid" src="~/Template/img/blog/3.jpg" alt="banner-1" title="banner-1">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 p-right">
                                                    <div class="effect">
                                                        <img class="img-fluid" src="~/Template/img/blog/2.jpg" alt="banner-2" title="banner-2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="content-title">Tạo điểm nhấn với màu nổi bật</p>
                                    <p>
                                        Tất nhiên, không hề có một quy luật nào ràng buộc bạn với duy nhất một lối thiết kế dựa trên một bảng màu nhất định cả.
                                        Không gian sống là của riêng bạn, và bạn hoàn toàn có thể tô điểm nó bằng những màu sắc nổi trội, tạo điểm nhấn cho không gian thêm thú vị và bắt mắt.
                                        Hãy hình dung một căn phòng với lối phối màu hiện đại giữa các tông màu mát, được tô điểm bởi một chiếc ghế với tông màu ấm nội bật.
                                        Chắc hẳn căn phòng sẽ trở nên đa dạng hơn, tạo sự khác biệt nhưng vẫn giữ được nét hài hòa vốn có.
                                    </p>
                                    <p class="content-title">Hài hòa là mấu chốt của vẻ đẹp</p>
                                    <p>
                                        Như đã đề cập trước đó, sự hài hòa luôn là yếu tố được cân nhắc mỗi khi chúng ta cần phối màu hoặc tạo điểm nhấn,
                                        bởi nếu như không có sự hòa hợp trong màu sắc, các gam màu sẽ tương phản và đối chọi với nhau,
                                        khiến màu sắc chung của căn phòng thiếu đi sự nhất quán và đồng bộ.
                                        Ngược lại, một căn phòng sẽ cực kỳ cuốn hút và thẩm mỹ khi chúng mang những âm sắc phù hợp,
                                        tạo nên những sự kết hợp đẩy tính thẩm mỹ và sang trọng.
                                    </p>
                                    <p class="content-title">Cảm quan màu sắc của mỗi người là khác nhau</p>
                                    <p>
                                        Đúng vậy, mỗi người đều nhìn vạn vật xung quanh bằng đôi mắt khác nhau, do đó cách cảm nhận về màu sắc của mỗi người đều có một sự khác biệt nhất định.
                                        Chúng ta không thể áp đặt một điều gì đó mà chúng ta cho là đẹp lên cách suy nghĩ của người khác và ngược lại,
                                        bạn hoàn toàn có thể tự tin với những màu sắc mà bạn đã chọn lựa và không cần quá lo ngại về ý kiến của những người khác.
                                    </p>
                                    <div class="border-detail">
                                        <p class="post-info float-left">
                                            <span>Ngày đăng 07/11/2022</span>
                                            <span>3 Bình luận</span>
                                            <span>#trangtri</span>
                                        </p>
                                        <div class="btn-group">
                                            <a href="#">
                                                <i class="zmdi zmdi-share"></i>
                                                <span>Chia sẻ</span>
                                            </a>
                                            <a href="#" class="email">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                <span>Gửi đến bạn bè</span>
                                            </a>
                                            <a href="#" class="print">
                                                <i class="zmdi zmdi-print"></i>
                                                <span>In</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="admin">
                                    <img src="~/Template/img/blog/user.jpg" alt="img" class="float-left right">
                                    <div class="info">
                                        <p>
                                            <a href="#">
                                                <span class="content-title">
                                                    NTĐ
                                                </span>
                                            </a>
                                            <span>
                                            </span>
                                        </p>
                                        <p class="descript">
                                            Quản trị viên, Phụ trách nội dung
                                        </p>
                                    </div>
                                </div>
                                <div class="related">
                                    <h2 class="title-block">TIN TỨC LIÊN QUAN</h2>
                                    <div class="main-blogs">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="hover-after">
                                                    <a href="blog-detail.html">
                                                        <img src="~/Template/img/blog/11.jpg" alt="img" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="late-item">
                                                    <p class="content-title">
                                                        <a href="blog-detail.html">5 ý tưởng lắp đầy những khoảng trống cho căn phòng của bạn</a>
                                                    </p>
                                                    <p class="description">
                                                        Đã bao giờ bạn cảm thấy không gian phòng của bạn vẫn còn trống trải và muốn sắm thêm nội thất? Đã bao giờ bạn muốn lấp đầy những gian tường nhà nhưng lại không biết bắt đầu từ đâu?
                                                        Vậy thì đây chắc chắn sẽ là bài viết dành cho bạn.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="hover-after">
                                                    <a href="blog-detail.html">
                                                        <img src="~/Template/img/blog/8.jpg" alt="img" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="late-item">
                                                    <p class="content-title">
                                                        <a href="blog-detail.html">Tiết kiệm không gian căn hộ chung cư một cách thông minh</a>
                                                    </p>
                                                    <p class="description">
                                                        Với những căn hộ chung cư, diện tích không gian sẽ khá hạn chế để có thể tối ưu hóa không gian hơn.
                                                        Việc tìm hiểu và thiết kế sao cho căn hộ vừa thoáng mát, thoải mái, vừa đa dụng và sành điệu đang là nhu cầu được rất nhiều người quan tâm đến.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="hover-after">
                                                    <a href="blog-detail.html">
                                                        <img src="~/Template/img/blog/12.jpg" alt="img" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="late-item">
                                                    <p class="content-title">
                                                        <a href="blog-detail.html">Trang hoàng phòng khách đón mùa mới</a>
                                                    </p>
                                                    <p class="description">
                                                        Sắp xếp, làm mới lại không gian sống cũng là một trong những cách nhanh nhất mang đến cảm giác tươi mới, hạnh phúc,
                                                        tràn đầy năng lượng cho bạn và những thành viên trong gia đình. Bây giờ, hãy cùng khám phá những yếu tố tạo nên gian phòng khách hiện đại,
                                                        độc đáo để có thêm cảnh hứng mới cho không gian của bạn.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="reply late-item">
                                    <div class="blog-comment" id="blog-comment">
                                        <h2 class="title-block">Bình luận</h2>
                                        <img src="~/Template/img/blog/user1.jpg" alt="img" class="float-left right">
                                    </div>
                                    <div class="comment-content">
                                        <p class="user-title">
                                            <a href="#">Nguyễn Vân Vân</a>
                                            <span class="time">
                                                Đăng ngày 06/11/2022 lúc 6:50am /
                                                <a href="#">Đăng lại</a> /
                                                <span class="green">
                                                    <a href="#">Trả lời</a>
                                                </span>
                                            </span>
                                        </p>
                                        <p class="content-comment">Cảm ơn bạn đã chia sẻ bài viết này, rất hay và bổ ích.</p>
                                        </p>
                                    </div>
                                    <div class="blog-comment margin-right-comment">
                                        <div class="avatar">
                                            <img src="~/Template/img/blog/user2.jpg" alt="img" class="float-left">
                                        </div>
                                        <div class="comment-content">
                                            <p class="user-title">
                                                <a href="#">Trần Duy Luận</a>
                                                <span class="time">
                                                    Đăng ngày 06/11/2022 lúc 6:55am /
                                                    <a href="#">Đăng lại</a> /
                                                    <span class="green">
                                                        <a href="#">Trả lời</a>
                                                    </span>
                                                </span>
                                            </p>
                                            <p class="content-comment">
                                                Tôi đồng ý với ý kiến của bạn.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="blog-comment">
                                        <div class="avatar">
                                            <img src="~/Template/img/blog/user2.jpg" alt="img" class="float-left right">
                                        </div>
                                        <div class="comment-content">
                                            <p class="user-title">
                                                <a href="#">Trần Duy Luận</a>
                                                <span class="time">
                                                    Đăng ngày 07/11/2022 lúc 6:57am /
                                                    <a href="#">Đăng lại</a> /
                                                    <span class="green">
                                                        <a href="#">Trả lời</a>
                                                    </span>
                                                </span>
                                            </p>
                                            <p class="content-comment">
                                                Bài viết rất hay, cảm ơn bạn đã chia sẻ.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="submit-comment" id="respond">
                                    <h2 class="title-block">THÊM BÌNH LUẬN</h2>
                                    <div id="commentInput">
                                        <form action="#" method="post" id="commentform">
                                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                            <div class="row">
                                                <div class="form-group col col-sm-12 col-md-4 ">
                                                    <input type="text" class="inputName form-control" name="name" placeholder="Tên của bạn *">
                                                </div>
                                                <div class="form-group col col-sm-12  col-md-4">
                                                    <input type="text" class="inputMail form-control" name="mail" placeholder="Địa chỉ Email *">
                                                </div>
                                                <div class="form-group col col-sm-12  col-md-4">
                                                    <input type="text" class="form-control" name="website" placeholder="Biệt danh của bạn">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col col-md-12">
                                                    <textarea tabindex="4" class="inputContent form-control grey" rows="10" name="comment" placeholder="Bình luận của bạn"></textarea>
                                                </div>
                                            </div>
                                            <div class="submit">
                                                <input type="submit" name="addComment" id="submitComment" class="btn btn-default" value="Đăng bình luận">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

