
@{
    ViewBag.Title = "Info Web";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thông tin website </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Thông tin website</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin chính</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block; padding:0px ;">
                        <form>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên công ty</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" value="HappyHome">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Địa chỉ</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" value="Đại Học Nông Lâm TP.HCM">
                                </div>


                                <div style="display: flex" class="row">
                                    <div class="form-group col-md-6 ">
                                        <label for="exampleInputEmail1">Liên hệ</label>
                                        <input type="text" class="form-control" id="" value="Khoa CNTT ">
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="text" class="form-control" id="" value="HappyHome@gmail.com">
                                    </div>
                                </div>
                                <div style="display: flex" class="row">
                                    <div class="form-group col-md-6 ">
                                        <label for="exampleInputEmail1">Face book </label>
                                        <input type="text" class="form-control" id="" value="https://www.facebook.com/">
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label for="exampleInputEmail1">Twitter</label>
                                        <input type="text" class="form-control" id="" value="https://www.twitter.com/">
                                    </div>
                                </div>

                                <div style="display: flex" class="row">
                                    <div class="form-group col-md-6 ">
                                        <label for="exampleInputEmail1">G+</label>
                                        <input type="text" class="form-control" id="" value="https://www.google.com/">
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label for="exampleInputEmail1">Youtube</label>
                                        <input type="text" class="form-control" id="" value="https://www.youtube.com/">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="short-content">Miêu tả công ty</label>
                                    <textarea rows="5" class="form-control" placeholder="Nội dung tóm tắt không được quá 100 kí tự"> </textarea>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Logo đại diện</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block">
                        <img src="~/Areas/Admin/Template/dist/img/1.jpg" alt="" style="width: 100%;height:155px;border: 1px solid rgba(0,0,0,.125);">
                        <br>
                        <div class="form-group" style="margin-top: 10px">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">Upload</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>

                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Logo trình duyệt</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block">
                        <img src="~/Areas/Admin/Template/dist/img/1.jpg" alt="" style="width: 100%;height:155px;border: 1px solid rgba(0,0,0,.125);">
                        <br>
                        <div class="form-group" style="margin-top: 10px">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">Upload</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>

            <div class="col-md-12">
                <div class="card card-primary ">
                    <div class="card-header">
                        <h3 class="card-title">
                            Giới thiệu công ty
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <textarea id="summernote">
                Place <em>some</em> <u>text</u> <strong>here</strong>
              </textarea>
                    </div>
                    <div class="card-footer">
                        Visit <a href="https://github.com/summernote/summernote/">Summernote</a> documentation for more examples and information about the plugin.
                    </div>
                </div>
            </div>

            <div class="card-footer row" style="width: 100%;">
                <button type="submit" class="btn btn-primary">
                    Lưu thông tin
                </button>
            </div>


        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


<!-- /.content -->
