
@{
    ViewBag.Title = "Liên hệ";
    ViewBag.Id = "about-us";
}

<div id="wrapper-site">
    <div id="content-wrapper">
        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="@Url.Action("Index","Index","Index")">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Giới thiệu về chúng tôi</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div id="main">
            <div class="page-home">
                <div class="container">
                    <div class="about-us-content">

                        <h1 class="title-page">Giới thiệu về chúng tôi</h1>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 right">
                                <a href="#">
                                    <img class="img-fluid" src="~/Template/img/other/1.jpg" alt="#" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 left">
                                <div class="cms-block f-right">
                                    <h3 class="page-subheading">VỀ NỘI THẤT HAPPYHOME</h3>
                                    <p>Nội thất HAPPYHOME là thương hiệu nội thất đến từ Việt Nam với hơn 35 năm kinh nghiệm trong việc sản xuất và xuất khẩu nội thẩt đạt chuẩn quốc tế</u></p>
                                    <p>
                                        Mỗi một chi tiết, mỗi một sản phẩm và hình ảnh đều là những dấu ấn, là câu chuyện mà HAPPYHOME muốn gửi gắm đến mỗi khách hàng.
                                        HAPPYHOME hi vọng trong từng bộ sưu tập, từng sản phẩm và dịch vụ của mình sẽ trở thành một phần trong tổ ấm của mỗi gia đình Việt,
                                        như một thông điệp "mang yêu thương gửi trọn trong từng không gian sống".
                                        Hướng đến sự tiện ích, hiện đại tối giản và thân thiện môi trường là khát khao mà HAPPYHOME không ngừng theo đuổi.
                                    </p>
                                    <a>
                                        <img class="img-fluid" src="~/Template/img/other/4.png" alt="#" />
                                        <span>Mr. LÊ ĐÌNH QUỐC DŨNG - CEO</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 right">
                                <div class="cms-block f-left">
                                    <h3 class="page-subheading">HƯỚNG ĐẾN GIÁ TRỊ BỀN VỮNG</h3>
                                    <p>
                                        Tính bền vững” là một khái niệm định nghĩa sự phát triển về mọi mặt nhưng vẫn đảm bảo sự tồn tại phát triển ở trạng thái cân bằng.
                                        Mang khái niệm “bền vững” vào trong sản phẩm - dịch vụ nội thất là bước đi tiên phong và đầy thách thức mà HAPPYHOME luôn không ngừng nỗ lực nhằm lan toả,
                                        truyền cảm hứng về một lối sống tích cực, tiêu dùng bền vững hơn vì một tương lai của hành tinh xanh.
                                    </p>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 left">
                                <a href="#">
                                    <img class="img-fluid" src="~/Template/img/other/2.jpg" alt="#" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 right">
                                <a href="#">
                                    <img class="img-fluid" src="~/Template/img/other/4.jpg" alt="#" />
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 left">
                                <div class="cms-block f-right">
                                    <h3 class="page-subheading no-before">Mục tiêu phát triển bền vững:</h3>
                                    <div class="testimonials owl-carousel owl-theme owl-loaded owl-drag">
                                        <div class="item">
                                            <div class="name">AN TOÀN SỨC KHOẺ</div>
                                            <div class="position"></div>
                                            <p>
                                                Đặt yếu tố sức khoẻ và an toàn khách hàng lên hàng đầu, các sản phẩm nội thất gỗ công nghiệp tại HAPPYHOME: </br>

                                                - Đạt chứng nhận chứng nhận giảm phát thải Formaldehyde – CARB P2, đảm bảo gỗ không độc hại.</br>

                                                - Ưu tiên sử dụng sơn gốc nước thay cho sơn gốc dầu.</br>

                                                - Trang bị bộ anti tip kit tránh tình trạng tủ bị lật, gây nguy hiểm, đặc biệt là những gia đình có trẻ nhỏ.</br>

                                                Tại hầu hết các nước trên thế giới đều qui định nghiêm ngặt về tiêu chuẩn an toàn CARB - P2 đối với các sản phẩm gỗ công nghiệp, cũng như các yếu tố an toàn trong quá trình sử dụng,</br>
                                                HAPPYHOME tin rằng việc tiên phong về tiêu chuẩn sức khoẻ - an toàn người dùng sẽ là điểm mạnh mang thương hiệu nội thất của người Việt vươn tầm quốc tế trong tương lai.
                                            </p>
                                        </div>
                                        <div class="item">
                                            <div class="name">CHẤT LƯỢNG QUỐC TẾ</div>
                                            <div class="position"></div>
                                            <p>
                                                Sản xuất trực tiếp tại nhà máy Savimex với công nghệ hiện đại cùng đội ngũ thợ tay nghề cao. </br>

                                                - Nhà máy chế biến gỗ đầu tiên tại Việt Nam đạt chứng nhận hệ thống quản lý môi trường đạt chuẩn quốc tế ISO 14001.</br>

                                                - Rộng 10ha với hơn 1,500 công nhân viên giàu kinh nghiệm cùng máy móc công nghệ hiện đại.
                                            </p>
                                        </div>
                                        <div class="item">
                                            <div class="name">TINH TẾ TRONG TỪNG </br>ĐƯỜNG NÉT</div>
                                            <div class="position"></div>
                                            <p>
                                                Chúng tôi tạo ra không gian sống tuyệt vời nhất, nơi chúng tôi gọi là “Nhà”. </br>

                                                "Điều tôi muốn xây dựng ở đây là mang đến những thiết kế cao cấp dành riêng cho người Việt. Tôi muốn giúp khách hàng cá nhân hoá không gian sống thật sự phù hợp và lý tưởng. MOHO, chúng tôi làm tất cả vì khách hàng." Mr. Trần Duy Luận - Giám đốc thiết kế của HAPPYHOME.
                                            </p>
                                        </div>
                                        <div class="item">
                                            <div class="name">TRẢI NGHIỆM TỐT NHẤT</div>
                                            <div class="position"></div>
                                            <p>
                                                Tham quan và trải nghiệm cửa hàng nội thất của HAPPYHOME với lối kiến trúc không gian mở hiện đại, các sản phẩm nội thất được bố trí theo từng không gian và phong cách nội thất, mang đến trải nghiệm mua sắm tuyệt vời cho khách hàng.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



