
@{
    ViewBag.Title = "Edit Product";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật thông tin sản phẩm </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Cập nhật sản phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin chính</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block; padding:0px ;">
                        <form>
                            <div class="card-body">

                                <div style="display: flex" class="row">
                                    <div class="form-group col-md-6 ">
                                        <label for="exampleInputEmail1">Id </label>
                                        <input type="text" class="form-control" id="" placeholder="Id of product">
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label for="exampleInputEmail1">Giá</label>
                                        <input type="text" class="form-control" id="" placeholder="price of product">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên sản phẩm</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder=" name of product">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Danh mục</label>
                                    <input type="email" class="form-control" id="" placeholder="Category of the product">
                                </div>
                                <div class="form-group">
                                    <label for="">Nội dung tóm tắt</label>
                                    <textarea rows="3" class="form-control" placeholder="Đây là sản phẩm có 1 không 2"> </textarea>
                                </div>
                                <div style="display: flex" class="row">
                                    <div class="form-group col-md-6 ">
                                        <label for="exampleInputEmail1">Giá khuyết mãi </label>
                                        <input type="text" class="form-control" id="" placeholder="Price">
                                    </div>
                                    <div class="form-group col-md-6 ">
                                        <label for="exampleInputEmail1">Thông tin khác</label>
                                        <input type="text" class="form-control" id="" placeholder="">
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>

                    <!-- /.card-body -->
                </div>

                <div class="card card-primary ">
                    <div class="card-header">
                        <h3 class="card-title">
                            Nội dung mô tả sản phẩm
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <textarea id="summernote">
                Place <em>some</em> <u>text</u> <strong>here</strong>
              </textarea>
                    </div>
                    <div class="card-footer">
                        Visit <a href="https://github.com/summernote/summernote/">Summernote</a> documentation for more examples and information about the plugin.
                    </div>
                </div>
                <div class="card card-primary"></div>


            </div>


            <div class="col-md-4">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Hình ảnh đại diện</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block">
                        <div style="position: relative">
                            <img src="~/Areas/Admin/Template/dist/img/1.jpg" alt="" style="width: 60%;height:175px;border: 1px solid rgba(0,0,0,.125);position: relative">
                            <button id="delete-product-btn" class="btn btn-default btn-flat" style="position: absolute;left: 46.5%;top:78.5%;">xoá</button>
                        </div>
                        <br>
                        <div class="form-group" style="">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">Upload</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Thư viện ảnh</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="  display: block;">
                        <div style="display: grid;grid-template-columns: auto auto">
                            <div style="position: relative;">
                                <img src="~/Areas/Admin/Template/dist/img/1.jpg" alt="" style="width: 181px;height:120px;border: 1px solid rgba(0,0,0,.125);position: relative">
                                <button class="btn btn-default btn-flat" style="position: absolute;left: 73.5%;top:69%;">xoá</button>
                            </div>
                            <div style="position: relative;">
                                <img src="~/Areas/Admin/Template/dist/img/1.jpg" alt="" style="width: 181px;height:120px;border: 1px solid rgba(0,0,0,.125);position: relative">
                                <button class="btn btn-default btn-flat" style="position: absolute;left: 73.5%;top:69%;">xoá</button>
                            </div>
                            <div style="position: relative;">
                                <img src="~/Areas/Admin/Template/dist/img/1.jpg" alt="" style="width: 181px;height:120px;border: 1px solid rgba(0,0,0,.125);position: relative">
                                <button class="btn btn-default btn-flat" style="position: absolute;left: 73.5%;top:69%;">xoá</button>
                            </div>
                            <div style="position: relative;">
                                <img src="~/Areas/Admin/Template/dist/img/1.jpg" alt="" style="width: 181px;height:120px;border: 1px solid rgba(0,0,0,.125);position: relative">
                                <button class="btn btn-default btn-flat" style="position: absolute;left: 73.5%;top:69%;">xoá</button>
                            </div>
                        </div>
                        <!--   <img src="~/Areas/Admin/Template/../dist/img/1.jpg" alt="" style="width: 49%;height:120px;border: 1px solid rgba(0,0,0,.125);">
                           <img src="~/Areas/Admin/Template/../dist/img/1.jpg" alt="" style="width: 49%;height:120px;border: 1px solid rgba(0,0,0,.125);">  -->
                        <br>
                        <div class="form-group" style="">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">Upload</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

            <div class="col-md-12">

                <div class="card card-primary">

                    <div class="card-header">
                        <h3 class="card-title">Thuộc tính , biến thể</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block; padding:0px ;">
                        <form>
                            <div class="card-body">

                                <div style="display: flex" class="row properties">

                                    <div class="form-group col-md-5 ">
                                        <select class="form-control ">
                                            <option selected="selected" disabled="disabled">Chọn thuộc tính</option>
                                            <option>Màu sắc</option>
                                            <option>Kích thước</option>
                                            <option>Chất liệu</option>
                                            <option>Khác</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-7 ">
                                        <input type="text" id="tag-input1" class="form-control" style="float: right;">
                                    </div>

                                </div>
                                <button class="btn btn-primary" id="add-more-property">Thêm thuộc tính</button>
                            </div>
                            <div class="card-header" style="margin-top: 10px;margin-bottom: -10px">
                                <h3 class="card-title">   Danh sách biến thể</h3>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">

                                <table id="example1" class="table table-bordered table-striped">

                                    <thead>
                                        <tr>
                                            <th>Hình ảnh</th>
                                            <th>Thuộc tính</th>
                                            <th>Giá</th>
                                            <th>Giá khuyết mãi</th>
                                            <th>Tác vụ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Trident</td>
                                            <td>
                                                Đỏ,S
                                            </td>
                                            <td>200.000đ</td>
                                            <td>150.000đ</td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Xoá
                                                </a>
                                                <a class="btn btn-success btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    </i>
                                                    Chỉnh sửa
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Đỏ,M
                                            <td>200.000đ</td>
                                            <td>150.000đ</td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Xoá
                                                </a>
                                                <a class="btn btn-success btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    </i>
                                                    Chỉnh sửa
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Xanh,M</td>
                                            <td>200.000đ</td>
                                            <td>150.000đ</td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Xoá
                                                </a>
                                                <a class="btn btn-success btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    </i>
                                                    Chỉnh sửa
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Xanh,S</td>
                                            <td>200.000đ</td>
                                            <td>150.000đ</td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Xoá
                                                </a>
                                                <a class="btn btn-success btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    </i>
                                                    Chỉnh sửa
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Internet Explorer 7</td>
                                            <td>200.000đ</td>
                                            <td>150.000đ</td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Xoá
                                                </a>
                                                <a class="btn btn-success btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    </i>
                                                    Chỉnh sửa
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Gecko</td>
                                            <td>Epiphany 2.20</td>
                                            <td>200.000đ</td>
                                            <td>150.000đ</td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Xoá
                                                </a>
                                                <a class="btn btn-success btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    </i>
                                                    Chỉnh sửa
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Tasman</td>
                                            <td>Internet Explorer 5.2</td>
                                            <td>200.000đ</td>
                                            <td>150.000đ</td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Xoá
                                                </a>
                                                <a class="btn btn-success btn-sm" href="#" style="height: 100%;padding: 7px 10px;">
                                                    <i class="fas fa-pencil-alt">
                                                    </i>
                                                    </i>
                                                    Chỉnh sửa
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Hình ảnh</th>
                                            <th>Thuộc tính</th>
                                            <th>Giá</th>
                                            <th>Giá khuyết mãi</th>
                                            <th>Tác vụ</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>

            <div class="card-footer row" style="width: 100%;">
                <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
            </div>


        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>


<!-- /.content -->
