
@{
    ViewBag.Title = "Chính sách đại lý - đối tác";
    ViewBag.Id = "contact";
    ViewBag.Class = "blog";
}


<div id="wrapper-site">
    <div id="content-wrapper">

        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="@Url.Action("Index","Index","Index")">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Chính sách đại lý - đối tác </span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div id="main">
            <div class="page-home">
                <div class="container">
                    <h1 class="text-center title-page">CHÍNH SÁCH ĐẠI LÝ - ĐỐI TÁC</h1>
                    <div class="row-inhert">

                        <p><strong>Nội Thất HappyHome</strong> được thành lập vào đầu năm 2013, tại thời điểm mà công nghệ bắt đầu phát triển mạnh mẽ, kéo theo đó là các sản phẩm công nghệ phổ ngày một biến hơn và xu hướng làm việc tại nhà được rất nhiều người ưu chuộng, Happy Home là một trong những thương hiệu đi tiên phong trong lĩnh vực <strong>Nội Thất Online</strong>, chúng tôi luôn nỗ lực tạo ra các&nbsp;dòng sản phẩm mang lại giá trị tốt nhất cho khách hàng, giúp họ có được&nbsp;trải nghiệm một cách tốt nhất. Những sản phẩm mang tính công nghệ&nbsp;nổi&nbsp;tiếng được&nbsp;<em>Tinh Tế</em>...</p>

                        <p>Chúng tôi hoạt động xoay quanh triết lý “<em>kinh doanh&nbsp;chất xám chứ không kinh doanh nội thất</em>”, bạn có thể nhận thấy điều này qua các sản phẩm nội thất trên website <a href="index-2.html"><span style="color:#0066cc;"><em>happyhome.com.vn</em></span></a>. Các dòng sản phẩm của Happy Home mang thiết kế sáng tạo, đơn giản nhưng hiện đại và cũng không kém phần tiện dụng. Nhờ đó mà Nội Thất Happy Home đã lấy được thiện cảm và được nhiều khách hàng lựa chọn, chúng tôi đã phục vụ hơn 30,000 lượt khách mua lẻ và họ rất hài lòng.</p>

                        <p>Định hướng phát triển trong tương lai&nbsp;của Nội Thất Happy Home là tiếp tục tạo ra các&nbsp;dòng sản phẩm nội thất&nbsp;chất lượng, đa dạng mẫu mã, phục vụ cho thị trường&nbsp;Việt Nam. Nếu như bạn có một&nbsp;<strong>ý tưởng kinh doanh nội thất</strong> và đang cần&nbsp;<strong>tìm làm nhà phân phối nội thất</strong>&nbsp;chất lượng, uy tín,&nbsp;có chính sách&nbsp;<strong>bỏ sỉ nội thất</strong>&nbsp;tốt ở Việt Nam hoặc bạn đã có cửa hàng nội thất và muốn trở thành <strong>đại lý nội thất</strong>? Hãy liên hệ ngay với chúng tôi để được <strong>tư vấn kinh doanh nội thất </strong>ngay nhé.&nbsp;</p>

                        <p>Với phương châm đồng hành cùng&nbsp;phát triển và chia sẻ cùng các Đại Lý, Nội Thất Happy Home xây dựng chính sách áp dụng chung cho toàn bộ hệ thống đại lý của&nbsp;Happy Home trên Toàn Quốc, nhằm đảo bảo lợi ích tốt nhất cho phía Đại lý/Đối tác của Happy Home. Khi hợp tác với chúng tôi, bạn không cần phải lo nghĩ về giá thành, chất lượng cũng như về khâu thiết kế. Chúng tôi sở hữu xưởng sản xuất nội thất tại Hồ Chí Minh, với trang thiết bị được đầu tư hiện đại. Bên cạnh đó là đội ngũ thiết kế chuyên nghiệp, luôn cho những những dòng sản phẩm nội thất sáng tạo hoàn toàn khác với các sản phẩm thông thường mà bạn tháy trên thị trường.</p>

                        <h4 style="font-size: 19px;color: #222;"><strong>LỢI THẾ CẠNH TRANH KHI TRỞ THÀNH ĐẠI LÝ - ĐỐI TÁC</strong></h4>

                        <p>Chúng tôi tập trung tạo ra những sản phẩm sáng tạo, với chất lượng tốt nhất, với hơn 600 mã hàng hiện có, chúng tôi vẫn đang tiếp tục phát triển nằm có thể đáp ứng nhu cầu ngày càng đa dạng của người dùng.&nbsp;</p>

                        <ul>
                            <li>Sản phẩm HappyHome sử dụng các loại nguyên liệu bền bỉ và giá cả hợp lý (Gỗ cao Su, Gỗ tre ghép, MFC,...)</li>
                            <li>Sản phẩm Happy Home luôn đáp ứng các tiêu chí: Dễ dàng lắp ráp, giá thành hợp lý, có ghể giao hàng bằng xe máy, các chi tiết sản phẩm có thể phối hợp với nhau ra sản phẩm mới.</li>
                            <li>Chúng tôi tạo dựng mối quan hệ đối tác lâu dài với đại lý trên cơ sở những cam kết hợp tác và chia sẻ mục tiêu chung.</li>
                            <li>Hợp tác trên cơ sở quyền lợi và lợi ích của cả 2 bên.</li>
                            <li>Chính sách hỗ trợ công bằng và hợp lý trên toàn bộ kênh phân phối.</li>
                            <li>Cam kết bảo vệ tối đa cho quý đại lý trước những biến động của thị trường và cạnh tranh.</li>
                            <li>Nhận biết tầm quan trọng của Thương mại điện tử, chúng tôi đầu tư xây dựng hệ thống website HappyHome.com.vn hiện đang đứng Top về nhiều mảng liên quan, giúp hỗ trợ đại lý tốt về việc phát triển kinh doanh tại khu vực.</li>
                        </ul>

                        <h4 style="font-size: 19px;color: #222;"><strong>QUY TẮC CHUNG VỀ PHÁT TRIỂN ĐẠI LÝ - ĐỐI TÁC</strong></h4>


                        <ul>
                            <li>Đại lý kinh doanh cùng HappyHome phải có mặt bằng cụ thể, địa chỉ giao dịch, chính sách kèm theo số điện thoại liên lạc.</li>
                            <li>Chụp ảnh vị trí mặt bằng cụ thể và gởi tới Email: HappyHome@gmail.com.vn để được xác nhận hoàn tất hồ sơ Đại Lý.</li>
                            <li>Khoảng cách giữa các đại lý phải lớn hơn 5km để đảm bảo doanh số cũng như việc bán hàng một cách tốt nhất.</li>
                        </ul>

                        <h4 style="font-size: 19px;color: #222;"><strong>NGUYÊN TẮC ỨNG XỬ</strong></h4>
                        <h2></h2>

                        <p>Nội Thất Happy Home luôn coi trọng việc ứng xử làm căn bản để phát triển thương hiệu và sản phẩm, các Đại lý trong cùng một khu vực có thể trao đổi hàng hóa, sản phẩm, luôn vui vẻ, nhiệt tình với khách hàng, tuyệt đối không có những hành vi khiếm nhã làm mất hình tượng của Home Happy Home.</p>


                        <h4 style="font-size: 19px;color: #222;"><strong>CHÍNH SÁCH VỀ TÀI CHÍNH</strong></h4>

                        <h3><span style="font-size:16px;"><strong>1. Chiết khấu mua hàng và doanh thu</strong></span></h3>

                        <ul>
                            <li>Ngay sau khi nhập hàng đại lý được chiết khấu 15% - 30% theo từng mặt hàng.</li>
                            <li>Điểm tích lũy bán hàng của đại lý sau 1 tháng với mức bán hàng đạt 150 triệu đồng sẽ được chiết khấu thêm 4% và từ 200 triệu đồng trở lên sẽ được chiết khấu 6% dựa trên tổng doanh số tháng.</li>
                            <li>Đại lý được thu thêm tiền từ khách hàng thông qua ship hàng, lắp đặt tùy thuộc vào mức độ và khu vực mà đại lý đưa ra mức giá phù hợp.</li>
                        </ul>

                        <h3><span style="font-size:16px;"><strong>2. Chính sách bảo vệ giá</strong></span></h3>

                        <ul>
                            <li>Tất cả Đại lý phải đảm bảo tuân thủ đúng giá bán của HappyHome đưa ra và niêm yết trên website https://HappyHome.com.vn.</li>
                            <li>Trong mọi trường hợp khách hàng có phản hồi về công ty chính sách bán phá giá quý đại lý sẽ phải chịu trách nhiệm bồi hoàn tài chính cho khách hàng đã mua đồng thời tặng luôn sản phẩm mà khách hàng đã lựa chọn.</li>
                        </ul>

                        <h3><span style="font-size:16px;"><strong>3. Công nợ mua hàng (Áp dụng cho Đại lý đã cộng tác trên 1 năm)</strong></span></h3>

                        <ul>
                            <li>Trên cơ sở hợp tác và lịch sử thanh toán Quý Đại lý sẽ được hưởng các mức ưu đãi tốt hơn về chính sách tín dụng, công nợ.</li>
                            <li>Trên cơ sở đó Quý Đại lý sẽ được hưởng hạn mức tín dụng với thời hạn công nợ tối đa không quá 30 ngày.</li>
                        </ul>

                        <h4 style="font-size: 19px;color: #222;"><strong>NGUYÊN TẮC ỨNG XỬ</strong></h4>

                        <h3><span style="font-size:16px;"><strong>1. Hỗ trợ về PR – Marketing</strong></span></h3>

                        <ul>
                            <li>Quý Đại lý được hỗ trợ theo các chương trình của HappyHome, được đăng thông tin trong các chương trình truyền thông, quảng bá và website của HappyHome.</li>
                            <li>Quý Đại lý được tham gia tất cả các chương trình khuyến mãi, thúc đẩy bán hàng của HappyHome.</li>
                            <li>Quý Đại lý được cập nhật thông tin về giá cả, hàng hoá, sản phẩm, chính sách của hãng và nhà phân phối, các chương trình quảng cáo, các tài liệu thúc đẩy việc bán hàng.</li>
                        </ul>

                        <h3><span style="font-size:16px;"><strong>2. Hỗ trợ về kỹ thuật, giải pháp</strong></span></h3>

                        <ul>
                            <li>Quý Đại lý được hỗ trợ kỹ thuật qua điện thoại. Sẽ được hỗ trợ kỹ thuật trực tiếp tại chỗ khi có yêu cầu.</li>
                            <li>Quý Đại lý được tham gia khoá đào tạo định kỳ về sản phẩm, công nghệ và kiến thức bán hàng do HappyHome tổ chức. Sẽ được hỗ trợ đào tạo riêng nếu có yêu cầu.</li>
                            <li>Khi tham gia thầu và dự án, Quý Đại lý sẽ được HappyHome tư vấn và hỗ trợ về giải pháp và kỹ thuật nếu có yêu cầu.</li>
                        </ul>

                        <h3><span style="font-size:16px;"><strong>3. Hỗ trợ về hàng hóa</strong></span></h3>

                        <ul>
                            <li>Đổi hàng: Trong vòng 7 ngày kể từ ngày xuất hóa đơn, Quý Đại lý sẽ được đổi hàng mới nếu sản phẩm được xác định thuộc lỗi bảo hành. Trong trường hợp không còn hàng đổi, HappyHome sẽ hỗ trợ tối đa Quý Đại lý trong việc sản xuất bổ sung.</li>
                            <li>Trả hàng: Trong trường hợp hàng hóa Quý Đại lý ngừng kinh doanh hoặc những sản phẩm đã nhập hàng không phù hợp với phân khúc thị trường của từng vùng miền, Quý Đại lý có quyền trả lại hàng cho HappyHome. Việc trả hàng được thực hiện trong vòng 7 ngày kể từ ngày xuất hóa đơn và ký biên bản bàn giao hàng hóa. HappyHome sẽ có chính sách trả hàng và hỗ trợ về giá mua lại.</li>
                        </ul>

                        <p style="text-align: center;"><span style="font-size:18px;">LIÊN HỆ VỚI CHÚNG TÔI</span></p>

                        <p style="text-align: center;"><span style="font-size:18px;">HOTLINE: <span style="color:#FF0000;"><strong>0937 447 124</strong></span> | Email: happyhome@gmail.com.vn</span></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


