
@{
    ViewBag.Title = "Đặt hàng thành công";
    ViewBag.Id = "contact";
    ViewBag.Class = "blog";
}

<div id="wrapper-site">
    <div id="content-wrapper">

        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="@Url.Action("Index","ProductDetailPage","Index")">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Đặt hàng thành công </span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div id="main">
            <div class="page-home">
                <div class="container">
                    <h1 class="text-center title-page">Đặt hàng</h1>
                    <div class="row-inhert" style="margin-bottom: 400px">
                        <p>Chúc mừng bạn. Đơn hàng của bạn đã được đặt hàng thành công Bộ phận chăm sóc khách hàng sẽ liên lạc trong vòng 2h để xác nhận chi tiết đơn hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

