
@{
    ViewBag.Title = "Chính sách bảo hành";
    ViewBag.Id = "contact";
    ViewBag.Class = "blog";
}


<div id="wrapper-site">
    <div id="content-wrapper">
        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="@Url.Action("Index","Index","Index")">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Chính sách bảo hành</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div id="main">
            <div class="page-home">
                <div class="container">
                    <h1 class="text-center title-page">CHÍNH SÁCH BẢO HÀNH SẢN PHẨM</h1>
                    <div class="row-inhert">
                        <p>Đề nghị quý khách <strong>kiểm tra hàng trước khi thanh toán</strong>. Quý khách hàng không được trả lại hàng nếu không thuộc trường hợp hoàn tiền phía dưới</p>

                        <p>
                            <br>
                            <span style="font-size: 20px;"><strong>A - THỜI HẠN BẢO HÀNH </strong></span>
                        </p>

                        <p>
                            <span style="font-size: 20px;"></span><br>
                            Toàn bộ sản phẩm do Thương hiệu nội thất Happyhome sản xuất và cung cấp đều được <em>bảo hành miễn phí <span style="font-size: 18px;"><span style="color: rgb(255, 0, 0);"><strong>12 tháng</strong></span></span> kể từ ngày giao hàng và lắp đặt hoàn thiện</em><br>
                            Đổi mới sản phẩm trong vòng <span style="color: rgb(255, 0, 0);"><strong>7 ngày</strong></span>&nbsp;nếu phát sinh lỗi từ nhà sản xuất. (Chỉ áp dụng đối với các sản phẩm có sẵn, không áp dụng đối với các sản phẩm đặt theo thiết kế và yêu cầu).
                        </p>

                        <p>
                            <span style="font-size: 20px;">
                                <br>
                                <strong>B - CHÍNH SÁCH BẢO HÀNH </strong>
                            </span>
                        </p>

                        <p><strong><span style="font-size: 14px;">Sản phẩm được bảo hành miễn phí:</span></strong></p>

                        <ul>
                            <li>Sản phẩm lỗi từ nhà sản xuất trong quá trình sản xuất hoặc vận chuyển</li>
                            <li>Sản phẩm bị trầy xước, cong vênh nghiêm trọng</li>
                        </ul>

                        <p><span style="font-size: 14px;"><strong>Sản phẩm không được bảo hành miễn phí:</strong></span></p>

                        <ul>
                            <li>Sản phẩm đã quá thời hạn bảo hành (quá 12 tháng kể từ ngày giao hàng)</li>
                            <li>Hư hỏng do tác động từ bên ngoài: Rơi, va đập, trầy xước, hỏa hoạn…</li>
                            <li>Khung chân hoặc khung lưng bị tróc sơn trong quá trình sử dụng</li>
                            <li>Phần vải,da, simili bọc bị rách trong quá trình sử dụng</li>
                            <li>Sản phẩm bị trầy xước trong quá trình sử dụng</li>
                        </ul>

                        <p>
                            <br>
                            <span style="font-size: 20px;"><strong>C – ĐỊA ĐIỂM, THỜI GIAN VÀ QUY TRÌNH BẢO HÀNH</strong></span>
                        </p>

                        <p>
                            Để yêu cầu bảo hành sản phẩm, Quý khách vui lòng cung cấp đầy đủ thông tin về tình trạng hàng hóa bằng cách gửi hình ảnh vào fanpage của Happyhome :<span style="color: rgb(0, 0, 255);"> </span><a href="https://www.facebook.com"><span style="color: rgb(0, 0, 255);">https://www.facebook.com/Happyhome</span></a> để nhân viên chăm sóc khách hàng gọi lại trong thời gian sớm nhất.<br>
                            – Đối với những đơn hàng lẻ, số lượng từ 1 đến 5 chiếc, Happyhome trực tiếp bảo hành ngay tại kho. Quý khách vui lòng mang ghế đến để được nhân viên kỹ thuật của chúng tôi sửa chữa miễn phí.<br>
                            – Thời gian bảo hành: <em>Trong giờ làm việc 8h30 -18h, từ Thứ 2 - thứ 7</em><br>
                            Chúng tôi sẽ phản hồi đã tiếp nhận yêu cầu bảo hành của khách hàng trong 3 giờ làm việc.Tiến hành bảo hành từ 3-7 ngày làm việc
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




