
@{
    ViewBag.Title = "Tuyển dụng";
    ViewBag.Id = "contact";
    ViewBag.Class = "blog";
}


<div id="wrapper-site">
    <div id="content-wrapper">

        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="@Url.Action("Index","Index","Index")">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Tuyển dụng</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div id="main">
            <div class="page-home">
                <div class="container">
                    <h1 class="text-center title-page">TUYỂN DỤNG</h1>
                    <div class="row-inhert">
                        <div class="title-content" style="margin-bottom: 20px">
                            <h4 style="color: #222;"><strong>BỘ PHẬN KẾ TOÁN</strong></h4>
                        </div>
                        <h4 style="font-size: 19px;color: #222;"><strong>Nhân viên kế toán - Số lượng: 1 bạn</strong></h4>
                        <p style="color: #222;margin-top: 20px">+ Mô tả công việc:</p>
                        <p>- Kiểm tra các khoản thu chi hằng ngày</p>
                        <p>- Quản lý công nợ phải thu phải trả, phối hợp với bộ phận bán hàng đôn đốc thu hồi nợ KH</p>
                        <p>- Phụ trách công tác hành chánh tại Cty</p>
                        <p>- Ghi nhận hạch toán các nghiệp vụ phát sinh hằng ngày vào phần mềm riêng của Cty</p>
                        <p>- Xuất hóa đơn đầu ra, kiểm soát hóa đơn đầu vào phối hợp với kế toán thuế cân đối số liệu báo cáo với cơ quan thuế</p>
                        <p>- Lập các báo cáo hàng tuần, tháng, quý hoặc các báo cáo đột xuất theo yêu cầu của nhà quản trị doanh nghiệp</p>
                        <p>- Phụ trách bảo hiểm xã hội, chấm công, tính lương thực tế cho nhân viên Cty</p>
                        <p>***Công việc đa phần trên phần mềm khá đơn giản</p>
                        <p>Chỉ cần tỷ mỷ và trung thực dễ thương, mọi thứ vào đây sẽ có người chỉ dẫn để làm. Am hiểu về Thuế là một lợi thế.</p>
                        <p style="color: #222;margin-top: 20px">+ Yêu cầu công việc:</p>
                        <p>- Kinh nghiệm 1- 2 năm trong lĩnh vực kế toán</p>
                        <p>- Am hiểu công nghệ sử dụng các phần mềm quản lý</p>
                        <p>- Thành thạo Excel, Word</p>
                        <p>- Trung thực</p>
                        <div style="color: #222">
                            <p style="color: #222;margin-top: 20px">+ Quyền lợi:</p>
                            <p>- Môi trường làm việc năng động, thân thiện, cơ hội thăng tiến.</p>
                            <p>- Thu nhập: Thu nhập cạnh tranh, tăng lương theo hiệu quả công tác và cam kết đầy đủ các chế độ dành cho người lao động như quy định pháp luật hiện hành (BHXH, BHYT, BHTN…).</p>
                            <p>- Được tham gia các hoạt động ngoại khóa: văn nghệ, thể thao, du lịch, Teambuilding của Công ty.</p>
                            <p>- Các chế độ thăm hỏi ốm đau, thai sản, sinh nhật, hiếu hỉ,... theo quy định của Ban Phúc lợi công ty.</p>
                        </div>
                        <p style="margin-top: 20px">- Lương khởi điểm: 9tr - 11tr</p>
                        <p style="margin-top: 20px;color: #222">+ Thời gian làm việc:</p>
                        <div style="margin-left: 20px;color: #222">
                            <p style=""> - Làm việc ít nhất 8h/ ngày và 7 ngày/ tuần</p>
                            <p>    - Giờ làm việc – 8.00 đến 16.30</p>
                        </div>

                        <div class="title-content" style="margin-bottom: 20px">
                            <h4 style="color: #222;"><strong>BỘ PHẬN MARKETING</strong></h4>
                        </div>
                        <h4 style="font-size: 19px;color: #222;"><strong>Nhân viên Content Marketing - Số lượng: 1 bạn</strong></h4>
                        <p style="color: #222;margin-top: 20px">+ Mô tả công việc:</p>
                        <p>- Phụ trách nội dung cho các nhãn hàng tại: Website/ Facebook/ Instagram....</p>
                        <p>- Tham gia vào qúa trình lên ý tưởng và thực hiện  phục vụ nội dung: hình ảnh / clip / ……….</p>
                        <p>- Viết bài nội dụng và PR cho website</p>
                        <p>- Tham gia triển khai các chiến dịch Marketing trên các kênh Online</p>
                        <p style="color: #222;margin-top: 20px">+ Yêu cầu công việc:</p>
                        <p>- Có kinh nghiệm xây dựng nội dung Fanpage, Instagram là một lợi thế</p>
                        <p>- Thân thiện và có tinh thần trách nhiệm</p>
                        <p>- Có khả năng làm việc độc lập/làm việc nhóm/kỹ năng giao tiếp tốt</p>
                        <p>- Siêng năng, nhiệt tình, chăm chỉ</p>
                        <p>- Biết cách hòa nhập "hội những người vui tính"</p>
                        <div style="color: #222">
                            <p style="color: #222;margin-top: 20px">+ Quyền lợi:</p>
                            <p>- Thu nhập: > =7,000,000</p>
                            <p>- Tham gia đầy đủ chế độ theo quy định của Công ty và Pháp luật</p>
                            <p>- Được làm việc trong môi trường trẻ năng động, vui nhộn</p>
                            <P>- Được học kiến thức SEO, Digital Marketing.</P>
                            <P>- Được đào tạo/tham gia các khóa học theo chính sách của Công ty</P>
                            <P>- Du lịch theo chế độ nghỉ mát của công ty</P>
                            <P>- Thưởng KPI tùy theo năng lực và kinh nghiệm</P>
                            <P>- Khi đã thành thục các kỹ năng, sẽ được đảm nhận dự án website riêng, thu nhập không dưới 10.000.000 đ</P>
                        </div>
                        <p>
                            -----<br>
                            Đừng ngại ngùng nữa hãy ứng tuyển NGAY vào công ty chúng tôi để khai phá tiềm năng của bạn nhé!<br>
                            -----<br>
                            Liên hệ<br>
                            Các bạn ứng tuyển vui lòng gửi CV về địa chỉ Email : HAPPYHOME@Gmail.com.vn
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

