@model HappyHomeAsp.MVC.Models.ProductType
@{
    ViewBag.Title = "Thêm loại sản phẩm";
}
@using (Html.BeginForm("add_type", "CategoryProduct", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thêm loại sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Thêm loại sản phẩm</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" style="display: block; padding:0px ;">
                    <form>
                        <div class="card-body">
                            <div class="form-group col-md-10 ">
                                <label for="exampleInputEmail1">Id của loại sản phẩm</label>
                                <input class="form-control" name="id" type="text" disabled="disabled"/>
                            </div>
                            <div class="form-group col-md-10 ">
                                <label for="short-content">Tên loại sản phẩm</label>
                                <input class="form-control" name="type" type="text"  />
                            </div>
                            <div class="form-group">
                                <a hrel="@Url.Action("add_type","CategoryProduct")">
                                    <button class="btn btn-success"> Thêm loại sp</button>
                                </a>
                            </div>

                        </div>
                        <!-- /.card-body -->
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        
    </div>

}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>
