
@{
    ViewBag.Title = "Các câu hỏi thường gặp";
    ViewBag.Id = "contact";
    ViewBag.Class = "blog";
}

<div id="wrapper-site">
    <div id="content-wrapper">

        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="@Url.Action("Index","Index","Index")">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Các câu hỏi thường gặp</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div id="main">
            <div class="page-home">
                <div class="container">
                    <h1 class="text-center title-page">CÁC CÂU HỎI THƯỜNG GẶP</h1>
                    <div class="row-inhert">
                        <div class="">
                            <p><strong>1. </strong><strong>HAPPYHOME<strong> được thành lập lâu chưa?</strong></strong></p>

                            <p> <strong>HAPPYHOME</strong> được thành lập từ năm 2022.</p>

                            <p><strong>2. Sàn phẩm </strong><strong>HAPPYHOME<strong> từ đâu?</strong></strong></p>

                            <p>Toàn bộ sản phẩm của <strong>HAPPYHOME </strong>được đội ngũ thiết kế của<strong> HAPPYHOME </strong>sáng tạo ra với phương châm đem lại cho khách hàng một sản phẩm độc đáo nhất.</p>

                            <p><strong>3. </strong><strong>HAPPYHOME<strong> nhận phương thức thanh toán nào?</strong></strong></p>

                            <p>Quý khách chỉ cần ở nhà nhận hàng từ người giao hàng và thanh toán theo phương thức COD hoàn toàn miễn phí hoặc chuyển khoản qua ngân hàng VCB hay Đông Á.....v.v</p>

                            <p><strong>4. </strong><strong>HAPPYHOME<strong> có các chương trình khuyến mãi không?</strong></strong></p>

                            <p><strong>HAPPYHOME</strong> thường xuyên có chương trình giảm giá 5%-10% tất cả các mặt hàng đối với khách hàng là Thành viên của <strong>HAPPYHOME</strong>...Quý khách muốn tìm hiểu mọi thông tin về các chương trình khuyến mãi xin vui lòng truy cập website www.HAPPYHOME.com.vn hoặc liên hệ với chúng tôi.</p>

                            <p><strong>5. Cách mua hàng tại </strong><strong>HAPPYHOME<strong> như thế nào?</strong></strong></p>

                            <p>Quý khách cũng có thể gọi điện đến cho chúng tôi để đặt hàng.</p>

                            <p>Nếu mua hàng online, thì quý khách chọn hàng xong thì liên hệ trực tuyến với chúng tôi hoặc điện thoại và báo lại mã hàng để chúng tôi nhanh chóng báo lại cho quý khách.</p>

                            <p><strong>6. Có bao giờ món hàng tôi muốn mua đang ở trạng thái hết hàng không?</strong></p>

                            <p>Với phương châm đáp ứng tốt nhất nhu cầu của khách hàng chúng tôi luôn cam kết toàn bộ sản phẩm được đăng trên website là còn hàng.</p>

                            <p><strong>7. Phí vận chuyển của </strong><strong>HAPPYHOME<strong> là bao nhiêu?</strong></strong></p>

                            <p>Quý khách đặt mua hàng với <strong>HAPPYHOME</strong> sẽ được thông báo chi phí vận chuyển theo đơn vị vận chuyển mà <strong>HAPPYHOME</strong> đã ký kết hợp tác. Tại Tp. Hồ Chí Minh chúng tôi không tính chi phí vận chuyển.</p>

                            <p><strong>8. Tôi thấy một số nơi bán sản phẩm giống sản phẩm của </strong><strong>HAPPYHOME với giá rẻ hơn<strong>?</strong></strong></p>

                            <p>Tất cả sản phẩm của <strong>HAPPYHOME </strong>đều do<strong> HAPPYHOME </strong>thiết kế sản xuất hoặc hợp tác sản xuất, các cửa hàng khác bán hàng giống <strong>HAPPYHOME</strong> mà không nằm trong danh sách đại lý ủy quyền của <strong>HAPPYHOME</strong> là sản phẩm nhái, sản phẩm kém chất lượng, chúng tôi không chịu trách nhiệm với chất lượng của những sản phẩm này. Nếu quý khách hàng phát hiện ra vui lòng report or báo lại cho chúng tôi. Chúng tôi sẽ có chương trình khuyến mãi dành riêng cho quý khách.</p>

                            <p><strong>9. Tôi có thể làm đại lý cho </strong><strong>HAPPYHOME<strong> không?</strong></strong></p>

                            <p><strong>HAPPYHOME</strong> rất cám ơn nhã ý hợp tác của Quý khách, mong Quý khách vui lòng cung cấp thông tin Qua email: HAPPYHOME@gamil.com.vn hoặc liên lạc với chúng tôi.</p>

                            <p><strong>10. Chính sách gửi trả hàng của </strong><strong>HAPPYHOME<strong> như thế nào?</strong></strong></p>

                            <p>Nếu Quý khách không vừa ý với món hàng mình đã chọn thì trong thời gian cho phép Quý khách có thể gửi trả lại với điều kiện hàng còn nguyên mới và chưa sử dụng (bao gồm nguyên mác và bao bì). Phí gửi hàng và hoàn trả khách hàng chịu.</p>

                            <p style="margin-left: 20px">  • Chúng tôi không nhận hàng gửi trả bị thiếu tem sản phẩm, bao bì đóng gói của sản phẩm.</p>

                            <p style="margin-left: 20px">  • Sau khi nhận hàng và kiểm tra chúng tôi sẽ báo quý khách chọn sản phẩm khác hoặc sẽ gửi trả tiền lại cho quý khách.</p>

                            <p><strong>11. Tôi có thể thay đổi món hàng mình đã mua không?</strong></p>

                            <p><strong>HAPPYHOME</strong> lúc nào cũng mong muốn Quý khách hàng hài lòng và tự hào về món hàng mình đã chọn. Nếu khách hàng nhận hàng rồi mà không vừa ý với món hàng của mình thì khách hàng có thể trả hàng lại cho chúng tôi theo thời hạn.</p>

                            <p style="margin-left: 20px"> - Trước khi nhân viên chúng tôi gọi báo xác nhận gửi hàng.</p>

                            <p>Chúng tôi rất vui khi nhận được sự góp ý, đánh giá của quý khách để <strong>HAPPYHOME</strong> ngày càng hoàn thiện hơn.</p>

                            <p style="text-align: center;">Xin trân trọng cảm ơn quý khách hàng.</p>

                            <p style="text-align: center;"><strong>HAPPYHOME TEAM</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


