
@{
    ViewBag.Title = "Hướng dẫn đặt hàng";
    ViewBag.Id = "contact";
    ViewBag.Class = "blog";
}


<div id="wrapper-site">
    <div id="content-wrapper">

        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="@Url.Action("Index","Index","Index")">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Hướng dẫn đặt hàng </span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div id="main">
            <div class="page-home">
                <div class="container">
                    <h1 class="text-center title-page">Hướng dẫn đặt hàng </h1>
                    <div class="row-inhert">
                        <p><strong>Bạn có thể lựa chọn một trong những cách mua hàng sau</strong></p>

                        <p><strong>Cách 1:</strong>&nbsp;Gọi điện thoại đến &nbsp;<span style="color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: 600; text-align: center;">0909905138&nbsp;</span>hoặc&nbsp;<strong>(</strong><span style="color:#FF0000;"><span style="font-size: 22px;"><span style="color:#FF0000;"><span style="font-size: 22px;"><strong><span style="font-size:18px;">0903 005 138</span></strong></span></span></span></span><strong>) từ thứ 2 đến thứ 7 </strong>&nbsp; nhân viên chúng tôi luôn sẵn sàng phục vụ bạn.</p>

                        <p><strong style="line-height: 1.6;">Cách 2:</strong><span style="line-height: 1.6;">&nbsp;Đặt mua hàng trên website</span></p>

                        <p><strong style="line-height: 1.6;">Bước 1: Tìm sản phẩm cần mua</strong></p>

                        <p>
                            Bạn có thể tìm kiếm sản phẩm theo nhiều cách<br>
                            <br>
                            - Click vào Bất kỳ sản phẩm nào bạn thích trên Trang Chủ hoặc Vào chọn sản phẩm trong từng Menu cụ thể của chúng tôi:
                        </p>

                        <p align="center"><img alt="" src="~/Template/img/other/hg-dan-dat-hang-1.png" style="width: 1028px; height: 567px;"></p>

                        <p>Click vào 1 trong 2 vị trí đánh đấu để vào xem “Chi tiết Sản Phẩm”</p>

                        <p align="center"><img alt="" src="~/Template/img/other/hg-dan-dat-hang-7.png" style="width: 1028px; height: 567px;"></p>

                        <p><strong>Bước 2: Đặt hàng và thanh toán </strong></p>

                        <p>Sau khi xem thông tin chi tiết sản phẩm, bạn đã ưng ý sản phẩm bạn có thể mua hàng :</p>

                        <ol>
                            <li value="2"><strong>Thêm vào giỏ (</strong><strong><em>Nếu bạn muốn chọn thêm nhiều sản phẩm khác để mua</em></strong><strong>)</strong></li>
                        </ol>

                        <p><img alt="" src="~/Template/img/other/hg-dan-dat-hang-2.png" style="width: 1028px; height: 567px;"></p>

                        <p>Hệ thống hiển thị đơn hàng các bạn click nút “<strong><em>Xem giỏ hàng</em></strong>” Website sẽ chuyển sang Bước tiếp theo:</p>

                        <p><img alt="" src="~/Template/img/other/hg-dan-dat-hang-3.png" style="width: 1028px; height: 567px"></p>

                        <!--  <p>Ở đây nếu có Coupon các bạn vui lòng điền vào ô “<strong><em>Mã giảm giá</em></strong>” như hình và Click vào một trong các lựa chọn:</p>-->

                        <ol>
                            <li><strong>Đăng nhập</strong> (Nếu bạn đã có tài khoản tại HappyHome)</li>
                            <p><img alt="" src="~/Template/img/other/hg-dan-dat-hang-4.png" style="width: 1028px; height: 587px;"></p>
                            <li><strong>Đăng ký</strong> (Nếu bạn muốn đăng ký mới tài khoản tại HappyHome)</li>
                            <li><strong>Đặt hàng không cần đăng ký</strong> (Đây là bước đơn giản nhất)</li>
                        </ol>




                        <p><img alt="" src="~/Template/img/other/hg-dan-dat-hang-8.png" style="width: 1028px; height: 567px;"></p>

                        <p>Bước tiếp theo:</p>

                        <p><img alt="" src="~/Template/img/other/hg-dan-dat-hang-5.png" style="width: 1028px; height: 634px;"></p>

                        <p>&nbsp;</p>

                        <p style="margin-left:.5in;">Hoàn tất đơn hàng bạn sẽ nhận thông báo:</p>

                        <p>&nbsp;</p>

                        <p><img alt="" src="~/Template/img/other/hg-dan-dat-hang-6.png" style="width: 1028px; height: 467px;"></p>

                        <p>Sau khi hoàn thành đặt hàng, tối đa 2 giờ nhân viên của chúng tôi sẽ điện thoại xác nhận đơn hàng đồng thời xác nhận lại với bạn thời gian và địa điểm giao hàng. Thời gian giao hàng không quá 24 giờ kể từ khi đơn hàng bạn được xác nhận.</p>

                        <p><strong>Lưu ý</strong></p>

                        <p>
                            1. Chúng tôi chỉ chấp nhận những đơn đặt hàng khi cung cấp đủ thông tin chính xác về địa chỉ, số điện thoại. Sau khi bạn đặt hàng, chúng tôi sẽ liên lạc lại để kiểm tra thông tin và thỏa thuận thêm những điều có liên quan.<br>
                            <br>
                            2. Một số trường hợp nhạy cảm: giá trị đơn hàng quá lớn &amp; thời gian giao hàng vào buổi tối địa chỉ giao hàng trong ngõ hoặc có thể dẫn đến nguy hiểm. Chúng tôi sẽ chủ động liên lạc với quý khách để thống nhất lại thời gian giao hàng cụ thể.<br>
                            <br>
                            3. Trong trường hợp giao hàng chậm trễ mà không báo trước, quý khách có thể không nhận hàng và chúng tôi sẽ hoàn trả toàn bộ số tiền mà quý khách trả trước (nếu có) trong vòng 7 ngày.<br>
                            <br>
                            4. Công ty cam kết tất cả hàng hóa gởi đến quý khách đều là hàng mới 100% (do công ty sản xuất). Những rủi ro phát sinh trong quá trình vận chuyển (va đập, ẩm ướt, tai nạn..) có thể ảnh hưởng đến hàng hóa, vì thế xin Quý Khách vui lòng kiểm tra hàng hóa thật kỹ trước khi ký nhận. Chúng tôi sẽ không chịu trách nhiệm với những sai lệch hình thức của hàng hoá sau khi Quý khách đã ký nhận hàng.
                        </p>

                        <p>&nbsp;</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


