
@{
    ViewBag.Title = "Chính sách vận chuyển";
    ViewBag.Id = "contact";
    ViewBag.Class = "blog";
}

<div id="wrapper-site">
    <div id="content-wrapper">

        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="@Url.Action("Index","Index","Index")">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Chính sách vận chuyển</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div id="main">
            <div class="page-home">
                <div class="container">
                    <h1 class="text-center title-page">CHÍNH SÁCH VẬN CHUYỂN</h1>
                    <div class="row-inhert">
                        <p><strong>Thời gian áp dụng</strong></p>
                        <p>Bắt đầu : 22/10/2022</p>
                        <h4 style="font-size: 18px;color: #222;margin-bottom: -10px"><strong>+ Đối với các đơn hàng tại Tp. HCM</strong></h4>
                        <p style="margin-top: 20px"><strong style="font-size: 16px">Bảng phí vận chuyển và lắp ráp giao bằng xe máy</strong> <span>áp dụng với các sản phẩm bàn làm việc có </span> <span style="color: rgb(255, 0, 0); ">kích thước nhỏ hơn 140 x 70 (cm)</span></p>
                        <table border="1" cellpadding="0" cellspacing="0" style="width: 624px;" width="624">
                            <tbody>
                                <tr>
                                    <td style="width: 114px;">
                                        <p style="text-align: center;">&nbsp;</p>
                                    </td>
                                    <td style="width: 246px;">
                                        <p style="text-align: center;"><strong>Đơn hàng dưới 1.000.000</strong></p>
                                    </td>
                                    <td style="width: 264px;">
                                        <p style="text-align: center;"><strong>Đơn hàng trên 1.000.000</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 114px;">
                                        <p style="text-align: center;"><strong>Nội thành</strong></p>
                                    </td>
                                    <td style="width: 246px;">
                                        <p style="text-align: center;">50.000 VND/ 1 sản phẩm</p>
                                    </td>
                                    <td style="width: 264px;">
                                        <p style="text-align: center;">FREE</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 114px;">
                                        <p style="text-align: center;"><strong>Ngoại thành 1</strong></p>
                                    </td>
                                    <td style="width: 246px;">
                                        <p style="text-align: center;">50.000 VND/ 1 sản phẩm</p>
                                    </td>
                                    <td style="width: 264px;">
                                        <p style="text-align: center;">50.000 VND/ 1 sản phẩm</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 114px;">
                                        <p style="text-align: center;"><strong>Ngoại thành 2</strong></p>
                                    </td>
                                    <td style="width: 246px;">
                                        <p style="text-align: center;">100.000 VND/ 1 sản phẩm</p>
                                    </td>
                                    <td style="width: 264px;">
                                        <p style="text-align: center;">100.000 VND/ 1 sản phẩm</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <p style="margin-top: 20px"><strong style="font-size: 16px">Bảng phí vận chuyển và lắp ráp ( hàng cồng kềnh) giao bằng xe ba gác</strong> </p>
                        <table border="1" cellpadding="1" cellspacing="1" style="width:500px;">
                            <tbody>
                                <tr>
                                    <td style="width: 114px;">
                                        <p style="text-align: center;"><strong>Nội thành</strong></p>
                                    </td>
                                    <td style="width: 246px;">
                                        <p style="text-align: center;">200.000 VND/ 1 đơn hàng</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 114px;">
                                        <p style="text-align: center;"><strong>Ngoại thành 1</strong></p>
                                    </td>
                                    <td style="width: 246px;">
                                        <p style="text-align: center;">300.000 VND/ 1 đơn hàng</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 114px;">
                                        <p style="text-align: center;"><strong>Ngoại thành 2</strong></p>
                                    </td>
                                    <td style="width: 246px;">
                                        <p style="text-align: center;">400.000 VND/ 1 đơn hàng</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <h4 style="margin-top: 10px"><strong><span style="color:#e74c3c;font-size: 15px;">CHI TIẾT CÁC QUẬN, HUYỆN NỘI VÀ NGOẠI THÀNH :</span></strong></h4>
                        <p><strong>Nội thành bao gồm</strong> các quận : Quận 1, Quận 3, Quận 4, Quận 5, Quận 6, Quận 8, Quận 10, Quận Tân Bình, Quận Tân Phú, Quận Phú Nhuận, Quận Gò Vấp, Quận Bình Thạnh.</p>
                        <p><strong>Ngoại thành 1</strong> gồm những khu vực Quận 2, quận 7, quận 12</p>
                        <p><strong>Ngoại thành 2</strong> gồm những khu vực : quận Thủ Đức, Quận 9, Huyện HoocMon, Huyện Bình Chánh, Huyện Nhà Bè.</p>

                        <h4 style="font-size: 18px;color: #222;margin-top: 30px"><strong>+ Đối với các đơn hàng ngoại tỉnh</strong></h4>
                        <p style="margin-left: 21pt;">Các đơn hàng được đặt ở các khu vực ngoài thành phố Hồ Chí Mình. Đơn hàng sẽ được vận chuyển bằng ViettelPost</p>
                        <p style="margin-left: 40px;">- Phí giao động từ 150k -300k một sản phẩm ( phí sẽ được báo chính xác khi xác nhận đơn hàng)</p>
                        <p style="margin-left: 40px;">- Thời gian nhận hàng từ 3,5 - 7 ngày (tùy thuộc vào sản phẩm và khu vực )</p>
                        <p style="margin-left: 40px;">- Sẽ cung cấp mã vẫn đơn để khách hàng có thể tự kiểm tra đơn hàng</p>

                        <p><strong><span style="font-size: 18px;">Thời gian xác nhận đơn hàng và giao hàng</span></strong></p>
                        <p style="margin-left: 21pt;"><strong>Thời gian xác nhận đơn hàng</strong></p>
                        <p style="margin-left: 40px;">- Các đơn hàng đặt trong giờ hành chính (9h -18h) sẽ có điện thoại xác nhận trong 30’ – 1h</p>
                        <p style="margin-left: 40px;">- Các đơn hàng đặt ngoài giờ hành chính ( sau 18h ) sẽ được xử lý vào ngày hôm sau</p>
                        <p style="margin-left: 40px;">- Các đơn hàng được đặt vào Chủ Nhật sẽ được xử lý vào thứ 2 tuần kế tiếp</p>
                        <p style="margin-left: 21pt;"><strong>Thời gian xác nhận giao hàng</strong></p>
                        <p style="margin-left: 40px;">+ Thời gian chính xác sẽ được thông báo khi gọi xác nhận đơn hàng</p>
                        <p style="margin-top: 40px">Các chính sách và quy định khác: Đối với các đơn hàng yêu cầu giao hỏa tốc, khách hàng vui lòng liên hệ hotline<span style="color: rgb(255, 0, 0); font-size: 16px; font-weight: 600; text-align: center;"> 0909905138 </span>để được tư vấn cụ thể.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


